@model IEnumerable<KFC_Food.Models.TblProduct>

@{
    ViewData["Title"] = "Index";
}
<style>
    .image {
        vertical-align: middle;
        width: 200px;
        height: 150px;
    }

    h1 {
        text-align: center;
    }
</style>

<h1>Manage Product</h1>
<nav class="navbar navbar-light bg-light justify-content-between">


    <div class="form-inline">
        @using (Html.BeginForm("Search", "TblProducts"))
        {
            <input name="searchValue" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        }

    </div>


</nav>
<p>
    <a type="button" style="margin-top:20px;" class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImgSrc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>Edit</th>
            <th>Detail</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    <img class="image" src="@item.ImgSrc" alt="Image" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryId)
                </td>
                <td>
                    <a asp-action="Edit" type="button"  class="btn btn-warning" asp-route-id="@item.ProductId">Edit</a> <br />
                </td>
                <td>
                    <a asp-action="Details" type="button" class="btn btn-info" asp-route-id="@item.ProductId">Details</a>
                </td>
                <td>
                    <a asp-action="Delete" type="button" class="btn btn-danger" asp-route-id="@item.ProductId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>

</script>
